html {
  scroll-behavior: smooth;
}

body {
  background-color: #1E201E;
  min-height: 200vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  text-align: center;
}